{% extends "layout.html" %}

{% block title %}
    Gallery | Create Post
{% endblock %}

{% block content %}
    <div style="width: 30%;" class="container mx-auto">
        <form method="post" class="mt-5" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="fw-bold mb-3">
                Create Post
            </h2>

            <div class="mb-3">
                <label for="title" class="form-label">
                    Title
                </label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">
                    Description
                </label>
                <textarea type="password" class="form-control" id="description" name="description">
                </textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">
                    Choose Image
                </label>
                <input class="form-control" type="file" id="image" name="image">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="is_private" name="is_private" checked>
                <label class="form-check-label" for="is_private">
                    IsPrivate
                </label>
            </div>

            <button type="submit" style="width: 100%;" class="btn btn-success">
                Upload
            </button>
        </form>
    </div>
{% endblock %}